{% extends 'base.html.twig' %}

{% block title %}Edit Bookshelf{% endblock %}

{% block body %}
    <h1>Edit Bookshelf</h1>

    {{ include('bookshelf/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bookshelf_index') }}">back to list</a>

    {{ include('bookshelf/_delete_form.html.twig') }}
{% endblock %}
