{% extends 'base.html.twig' %}

{% block title %}Mes Notifications{% endblock %}

{% block body %}
    <h1>Mes Notifications</h1>

    <a href="{{ path('notification_mark_all_read') }}" class="btn btn-sm btn-primary">Tout marquer comme lu</a>

    <ul class="list-group mt-3">
        {% for notification in notifications %}
            <li class="list-group-item {% if not notification.isRead %}fw-bold{% endif %}">
                {{ notification.sendDate|date('d/m/Y H:i') }} : {{ notification.content }}

                {% if not notification.isRead %}
                    <a href="{{ path('notification_mark_read', { id: notification.id }) }}" class="btn btn-sm btn-link">Marquer comme lu</a>
                {% endif %}
            </li>
        {% else %}
            <li class="list-group-item">Aucune notification</li>
        {% endfor %}
    </ul>
{% endblock %}
