{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <div>
        <a href="{{ path('app_book_index') }}" class="btn btn-primary" style="margin-bottom: 20px;">
            Afficher tous les livres
        </a>
    </div>

    <div>
        {% for category in categories %}
            <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-secondary" style="margin: 5px;">
                {{ category.name }}
            </a>
        {% else %}
            <p>Aucune catégorie disponible.</p>
        {% endfor %}
    </div>


{% endblock %}
