{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gradient-to-r from-indigo-100 via-white to-indigo-100 py-12 px-6 flex flex-col items-center">

        <header class="max-w-6xl w-full mb-12 text-center px-4 sm:px-0">
            <h1 class="text-6xl sm:text-7xl font-extrabold text-indigo-900 mb-4 drop-shadow-lg leading-tight">
                Espace Admin
            </h1>
        </header>

    </div>
{% endblock %}
